<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--Sección de variables de app. Aquí pueden declararse variables a usar en toda la aplicación.-->
  <appSettings>
    <add key="EjemploKey" value="test" />     
  </appSettings>

  <!-- <appSettings configSource="Keys.config" /> -->
  <connectionStrings configSource="Connection.config" />


  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    
    <!-- Configuración request upload -->
    <!-- maxRequestLength: Tamaño máximo (byte - valor por default 4MB) del request -->
    <!-- requestLengthDiskThreshold: Tamaño máximo (byte - valor por default 80 kilobytes) del request en memoría (Siempre menor que maxRequestLength) -->
    <httpRuntime targetFramework="4.5" maxRequestLength="20000" requestLengthDiskThreshold="8192"/>
    
    
    <!-- Página de errores no controlados -->
    <customErrors mode="On" defaultRedirect="Error.aspx" redirectMode="ResponseRedirect"></customErrors>

    <!-- Configuración del estado de la session -->
    <!-- mode: [Off|InProc|StateServer|SQLServer|Custom]; Especifica dónde se almacenan los valores del estado de la sesión -->
    <!-- cookieless:"[true|false|AutoDetect|UseCookies|UseUri|UseDeviceProfile]"; Especifica cómo se utilizan las cookies en una aplicación Web (cookieName). -->
    <sessionState timeout="60" mode="StateServer" cookieless="false" stateConnectionString="tcpip=localhost:42424"/>
        
  </system.web>

  <system.webServer>
    
    <!-- Configuración de documentos predefinidos en IIS -->
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="PaginaInicial.aspx" />        
      </files>
    </defaultDocument>
  </system.webServer>


    <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
